<div id="divInsideRequirements" class="div-show-inverse card-group border-0 custom-bg-secondary rounded-0 text-white p-0 m-0 py-4" style="--bs-bg-opacity: .0;">
    <div class="card border-0 mx-3 custom-bg-secondary rounded-3" style="--bs-bg-opacity: .5;">
        <div class="card-header py-5 px-3 border-0 text-center custom-bg-secondary" style="--bs-bg-opacity: .0;">
            <h3>Recommended Specifications</h3>
        </div>
        <div class="card-body px-3 py-0">
            <dl class="row">
                <dt class="col-sm-5 text-sm-end">Operating System:</dt>
                <dd class="col-sm-7 text-sm-start">Windows 10</dd>
              
                <dt class="col-sm-5 text-sm-end">Processor:</dt>
                <dd class="col-sm-7 text-sm-start">
                        Intel Core i7-8700K<br>
                        AMD Ryzen 5 3600X
                </dd>

                <dt class="col-sm-5 text-sm-end">Memory:</dt>
                <dd class="col-sm-7 text-sm-start">8GB RAM</dd>

                <dt class="col-sm-5 text-sm-end">Graphics:</dt>
                <dd class="col-sm-7 text-sm-start">
                        NVIDIA GeForce GTX1070, 8GB<br>
                        AMD Radeon RX Vega 56, 8GB
                </dd>

                <dt class="col-sm-5 text-sm-end">DirectX:</dt>
                <dd class="col-sm-7 text-sm-start">DirectX 12</dd>

                <dt class="col-sm-5 text-sm-end">Storage:</dt>
                <dd class="col-sm-7 text-sm-start">20GB</dd>
              </dl>
        </div>
    </div>
    <div class="card border-0 mx-3 custom-bg-secondary rounded-3" style="--bs-bg-opacity: .5;">
        <div class="card-header py-5 px-3 border-0 text-center custom-bg-secondary" style="--bs-bg-opacity: .0;">
            <h3>Minimum Specifications</h3>
        </div>
        <div class="card-body px-3 py-0">
            <dl class="row">
                <dt class="col-sm-5 text-sm-end">Operating System:</dt>
                <dd class="col-sm-7 text-sm-start">Windows 11</dd>
              
                <dt class="col-sm-5 text-sm-end">Processor:</dt>
                <dd class="col-sm-7 text-sm-start">
                        Intel Core i5-8400<br>
                        AMD Ryzen 3 3300X
                </dd>

                <dt class="col-sm-5 text-sm-end">Memory:</dt>
                <dd class="col-sm-7 text-sm-start">4GB RAM</dd>

                <dt class="col-sm-5 text-sm-end">Graphics:</dt>
                <dd class="col-sm-7 text-sm-start">
                        NVIDIA GeForce GTX1060, 3GB<br>
                        AMD Radeon RX580, 4GB
                </dd>

                <dt class="col-sm-5 text-sm-end">DirectX:</dt>
                <dd class="col-sm-7 text-sm-start">DirectX 11</dd>

                <dt class="col-sm-5 text-sm-end">Storage:</dt>
                <dd class="col-sm-7 text-sm-start">20GB</dd>
              </dl>
        </div>
    </div>
</div>


