<div class="container-fluid  (scroll)='onWindowScroll()'">
    <!-- CORRIGIR PARA ESPACAMENTO RESPONSIVO
    <br>
    <br>
    <br> -->
    
    <div class="welcome-container">
        <!-- BOTAO FIXO (POSICAO DA TELA / CLASSE FIXED CONTAINER CUSTOMIZADA NO .CSS)-->
        <div class="w-100 fixed-container">
            <div class="d-md-none">
                <div class="d-grid gap-2 col-4 mx-auto">
                    <a routerLink="/trailer" class="d-block btn btn-lg btn-dark ms-2 border border-0 border-white" role="button">Trailer</a>
                </div>
            </div>
            <div class="d-none d-md-block ">
                <div class="d-grid gap-2 col-4 mx-auto">
                    <a routerLink="/trailer" class="d-inline btn btn-lg btn-dark ms-2 border border-0 border-white" role="button">Watch the Trailer</a>
                </div>
            </div> 
        </div>

        <!--BOTAO FLUTUANTE (ACOMPANHA CONTAINER)-->
        <!-- <div class="h-75"></div>
        <div class="h-25">
            <br>
            <div class="d-md-none">
                <div class="d-grid gap-2 col-4 mx-auto">
                    <a routerLink="/trailer" class="d-inline btn btn-dark ms-2 border border-3 border-white" role="button">Trailer</a>
                </div>
            </div>
            <div class="d-none d-md-block">
                <div class="d-grid gap-2 col-4 mx-auto">
                    <a routerLink="/trailer" class="d-inline btn btn-dark ms-2 border border-3 border-white" role="button">Watch the Trailer</a>
                </div>
            </div>  
        </div> -->
    </div>
    <div class="container px-2">
        
        <div class="card border-0 shadow">
        <div class="card-body px-5 py-5">
            <h1>Main container - Fixed Background</h1>
            <h2>h2. Fixed Full Page Background Image</h2>
            <h3>h3. Fixed Full Page Background Image</h3>
            <h4>h4. Fixed Full Page Background Image</h4>
            <h5>h5. Fixed Full Page Background Image</h5>
            
            <p>In this snippet, the background image is fixed to the body element. Content on the page will
                scroll, but the image will remain in a fixed position!</p>
            <p class="lead">.lead In this snippet, the background image is fixed to the body element. Content on the page will
            scroll, but the image will remain in a fixed position!</p>
            <p class="lead">Scroll down...</p>
            <div style="height: 1900px"></div>
            <p class="lead mb-0">You've reached the end!</p>
        </div>
        </div>
    </div>
    <!-- CORRIGIR PARA ESPACAMENTO RESPONSIVO-->
    <br>
</div>