<div class="container-fluid border-0 bg-image rounded-0 text-center p-0 m-0">
    <div id="divInsideDetails" class="div-show-inverse card border-0 custom-bg-primary py-3 mt-5 rounded-0 text-center" style="--bs-bg-opacity: .4;">
        <div class="left-brand-bg"></div>
        <div class="card-header px-3 custom-card-header">
            <h2>Prologue</h2>
        </div>
        <div class="card-body px-3 py-5">
            <br>
            <p class="lead pb-4">
                "O que era teu agora me pertence. <br>
                Tuas terras, teu povo e, agora, tua vida".
            </p>
            <p class="lead pb-4">
                O mundo inteiro está aberto ao homem sábio, <br>
                pois a pátria de um espírito de escol é o universo
            </p>
            <p class="lead pb-4">
                Parecemo-nos com carneiros a brincar na relva, enquanto o açougueiro, com os olhos,
                <br> 
                está a escolher alguns entre eles; <br>
                pois nestes bons tempos não sabemos que infelicidade precisamente agora <br>
                o destino está nos preparando...
            </p>
            <div style="height: 100px"></div>
            <p id="detailsLastPhrase" class="div-show-inverse lead pb-3 ">...doença, perseguição, cegueira, loucura e morte</p>
        </div>

    </div>
</div>

