<div class="card border-0 custom-bg-primary text-white rounded-0 p-0 m-0" style="--bs-bg-opacity: .0;">
    <div id="divInsideNews" class="div-show-inverse card-group border-0 custom-bg-primary rounded-0 p-0 m-0 py-5" style="--bs-bg-opacity: .0;">
        <div class="card border-0 custom-bg-cards text-white rounded-3 mx-3 " style="--bs-bg-opacity: .1;">
            <img class="card-img-top p-3" src="/assets/temp/thumb-1920-1051316.jpg" alt="Card image cap">
            <div class="card-body pt-0">
                <h5 class="card-title">Página Disponível</h5>
                <p class="card-text">Após está longa espera, até que enfim nossa primeira landing page está no ar. Sejam bem vindos!</p>
            </div>
            <div class="card-footer border-0 text-end py-0">
                27/05/2020
            </div>
        </div>
        <div class="card border-0 custom-bg-cards text-white rounded-3 mx-3 " style="--bs-bg-opacity: .1;">
            <img class="card-img-top p-3" src="/assets/temp/thumb-artwork-fantasy-art-digital-art-forest-wallpaper-preview.jpg" alt="Card image cap">
            <div class="card-body pt-0">
                <h5 class="card-title">Atualização 1.3b</h5>
                <p class="card-text">Incluída componente para futura inclusão de notícias.</p>
            </div>
            <div class="card-footer border-0 text-end py-0">
                26/05/2020
            </div>
        </div>
        <div class="card border-0 custom-bg-cards text-white rounded-3 mx-3 " style="--bs-bg-opacity: .1;">
            <img class="card-img-top p-3" src="/assets/temp/thumb-dark-fantasy-digital-art-hd-wallpaper-preview.jpg" alt="Card image cap">
            <div class="card-body pt-0">
                <h5 class="card-title">Contato</h5>
                <p class="card-text">
                    Gostou do meu trabalho? Caso tenha interesse em me contatar: 
                    <a href = "mailto: vitormd86@gmail.com"><b>vitormd86@gmail.com</b></a>.</p>
            </div>
            <div class="card-footer border-0 text-end py-0">
                24/05/2020
            </div>
        </div>
        <div class="card border-0 custom-bg-cards text-white rounded-3 mx-3 " style="--bs-bg-opacity: .1;">
            <img class="card-img-top p-3" src="/assets/temp/thumb-fantasy-art-warrior-dark-souls-iii-dark-souls-wallpaper-preview.jpg" alt="Card image cap">
            <div class="card-body pt-0">
                <h5 class="card-title">Press Start</h5>
                <p class="card-text">
                    Iniciada página de Landing page para o projeto 
                    <a href="http://www.comunidadegamedev.com.br" target="_blank"><b>www.comunidadegamedev.com.br</b></a>
                    .
                </p>
            </div>
            <div class="card-footer border-0 text-end py-0">
                22/05/2020
            </div>
        </div>
    </div>
</div>
