<div class="container-fluid p-0 m-0 border-0 custom-bg-primary rounded-0 text-center text-white" style="--bs-bg-opacity: .0;">
    <div id="divInsideBuyNow" class="div-show-inverse card bg-transparent border-0 ">
        <div class="row p-3 m-3 pb-2 mb-4 border border-1 custom-bg-primary rounded-3" style="--bs-bg-opacity: .5;">
            <h1 class="py-1 fw-bold border-0 rounded-3">Choose your plataform</h1>
            <!-- PARA AUTOMAÇÃO: Column min-width deve ser (tamanho_da_imagem + 20) * qtdade_de_imagens -->
            <!-- TODO: min image no primeiro 420px para monitores grandes -->
            <div class="col p-0 m-0 pe-2 pb-2" style="min-width: 280px;">
                <div class="card custom-bg-cards border border-0 rounded-3 h-100" style="--bs-bg-opacity: .0;">
                    <div class="card-header custom-card-header p-1 m-0">
                        <h6 class="p-0 m-0 pt-1">PC</h6>
                    </div>
                    <div class="card-body p-0 m-0 align-items-center justify-content-center">
                        <a href="https://store.steampowered.com/" target="_blank"><img src="assets/img/plataforms/logo_steam.png" class="inline-block py-3" width="120"></a>
                        <a href="https://www.humblestore.com/" target="_blank"><img src="assets/img/plataforms/logo_humblestore.png" class="inline-block py-3 mx-2" width="120"></a>
                        <a href="https://www.gog.com/" target="_blank"><img src="assets/img/plataforms/logo_gog.png" class="inline-block py-3" width="120"></a>
                        <!-- <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col p-0 m-0 pe-2 pb-2" style="min-width: 140px; min-height: 280px;">
                <div class="card custom-bg-cards border border-0 rounded-3 h-100" style="--bs-bg-opacity: .0;">
                    <div class="card-header custom-card-header p-1 m-0">
                        <h6 class="p-0 m-0 pt-1">XBOX</h6>
                    </div>
                    <div class="card-body p-0 m-0 align-items-center justify-content-center d-flex">
                        <a href="https://www.xbox.com/" target="_blank"><img src="assets/img/plataforms/logo_xbox_one.png" class="inline-block py-3" width="120"></a>
                    </div>
                </div>
            </div>
            <div class="col p-0 m-0 pe-2 pb-2" style="min-width: 140px; min-height: 280px;">
                <div class="card custom-bg-cards border border-0 rounded-3 h-100" style="--bs-bg-opacity: .0;">
                    <div class="card-header custom-card-header p-1 m-0">
                        <h6 class="p-0 m-0 pt-1">PS4</h6>
                    </div>
                    <div class="card-body p-0 m-0 align-items-center justify-content-center d-flex">
                        <a href="https://www.playstation.com/" target="_blank"><img src="assets/img/plataforms/logo_ps4.png" class="inline-block py-3" width="120"></a>
                    </div>
                </div> 
            </div>
            <div class="col p-0 m-0 pe-2 pb-2" style="min-width: 140px;">
                <div class="card custom-bg-cards border border-0 rounded-3 h-100" style="--bs-bg-opacity: .0;">
                    <div class="card-header custom-card-header p-1 m-0">
                        <h6 class="p-0 m-0 pt-1">NINTENDO</h6>
                    </div>
                    <div class="card-body p-0 m-0 align-items-center justify-content-center d-flex">
                        <a href="https://www.nintendo.com/" target="_blank"><img src="assets/img/plataforms/logo_nintendo_switch.png" class="inline-block py-3" width="120"></a>
                    </div>
                </div>
                </div>
            <div class="col p-0 m-0 pb-2" style="min-width: 280px;">
                <div class="card custom-bg-cards border border-0 rounded-3 h-100" style="--bs-bg-opacity: .0;">
                    <div class="card-header custom-card-header p-1 m-0">
                        <h6 class=" p-0 m-0 pt-1">MOBILE</h6>
                    </div>
                    <div class="card-body p-0 m-0 align-items-center justify-content-center d-flex">
                        <a href="https://www.android.com/" target="_blank"><img src="assets/img/plataforms/logo_android.png" class="inline-block py-3" width="120"></a>
                        <a href="https://www.apple.com/" target="_blank"><img src="assets/img/plataforms/logo_ios.png" class="inline-block py-3" width="120"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
