<div class="container-fluid vh-100">
    <br>
    <br>
    <br>
    <div class="container">
        <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 class="fw-light">Page not found</h1>
            <br>
            <h3 class="fw-light">Please return to 
                <a class="link-primary" aria-current="page" routerLink="/home">home page</a></h3>
        </div>
        </div>
    </div>
    <!-- CORRIGIR PARA ESPACAMENTO RESPONSIVO-->
    <br>
</div>
