<div class="container-fluid p-0 m-0 vh-100">
    <div class="container-custom">
        <div class="card border-0 shadow custom-bg-card rounded-0">
            <p>Card SEM borda arredondada</p>
        </div>
         <!--TRANPARENCIA NATIVA (FUNCIONA APENAS COM BG NATIVO)-->
        <div class="card border-0 shadow bg-success bg-opacity-50">
            <p>Card 2</p>
        </div>
         <!-- TRANFARENCIA COM CSS CUSTOMIZADO (VIDE ARQUIVO .CSS DO COMPONENTE)-->
        <div class="card border-0 shadow custom-bg-primary text-white" style="--bs-bg-opacity: .7;">
            <p>
            Card 3 - Opacidade no BG 
            <br>
            criar animacao de transparencia e cores conforme https://eldenring.bn-ent.net/en/
            <br>
            (para mouse over, click e rolagem de tela)
            </p>
        </div>
        <div class="card border-0 shadow" style="height: 18rem;">
            <p>Card 4 - Altura predefinida</p>
        </div>
        <div class="card border-0 shadow" style="width: 18rem;">
            <p>Card 5 - Largura pré definida</p>
        </div> 
    </div>
</div>
